@charset "utf-8";
@import url("reset.css");
html,body{font-family:"微軟正黑體"; background-color:#000; font-size:13px; color:#FFF; font-weight:bold; margin:0; padding:0;}
.all{ width:100%;}

.errorbox{padding: 5% 15%;position: relative;}
.errorbox img{text-align: center;}
.errorbox p{font-size: 36px;font-weight: 500;position: absolute;left: 44%;top: 36%;color: #f5e8aa;}
.errorbox h1{font-size: 15px;font-weight: 500;position: absolute;left: 44%;top: 46%;}
.errorbox h4{font-size: 13px;font-weight: 200;position: absolute;left: 44%;top: 55%;}
a{text-decoration: none;color: #fff;}
a:hover{color: #f00;}
.header {
  height: 150px;
  background: url(../images/header_bgall-2.png) top center !important;
  background-repeat: no-repeat;}
.backhomebtn{width: 200px; height: 42px;display:block;position: absolute;left: 44%;top: 70%;}
.backhomebtn a{ background:url(../images/web_btn.png) -158px -302px;width: 200px;  height: 42px;  display: block;}
.backhomebtn a:hover{ background:url(../images/web_btn.png) -157px -301px;}
